stages:
  - codegen-test-lint
  - build-e2e-push

variables:
  DOCKER_TLS_CERTDIR: "/certs"
  DOCKER_HOST: "tcp://docker:2376"
  DOCKER_CERT_PATH: "/certs/client"
  DOCKER_TLS_VERIFY: "1"
  DOCKER_BUILDKIT: "1"
  REGISTRY: $CI_REGISTRY
  IMAGE_NAME: "$CI_PROJECT_PATH"
  TAG: $CI_COMMIT_REF_NAME
  CACHE_TAG: "cache-${CI_COMMIT_REF_NAME}"

codegen-test-lint:
  stage: codegen-test-lint
  image: golang:1.25.4
  before_script:
    - curl -sL https://taskfile.dev/install.sh | sh
    - ./bin/task --version
    - mv ./bin/task /usr/local/bin/
  script:
    - go mod tidy
    # - task format
    # - task mockery:gen
    # - task swag
    - task lint
    - task test
  rules:
    - changes:
        - "**/*"
      when: on_success
    - changes:
        - "compose.yml"
        - "README.md"
      when: never

build-e2e-push:
  dependencies:
    - codegen-test-lint
  stage: build-e2e-push
  image: docker:27
  services:
    - docker:27-dind
  before_script:
    - apk add --no-cache bash curl
    - until docker info; do sleep 1; done
    - echo "$CI_REGISTRY_PASSWORD" | docker login $CI_REGISTRY -u $CI_REGISTRY_USER --password-stdin
  script:
    # Try to pull previous image for cache (ignore errors if it doesn't exist)
    - docker pull ${REGISTRY}/${IMAGE_NAME}:${CACHE_TAG} || true

    # Build with inline caching
    - docker build
      --cache-from ${REGISTRY}/${IMAGE_NAME}:${CACHE_TAG}
      --cache-to type=inline
      -t ${REGISTRY}/${IMAGE_NAME}:${TAG}
      -t ${REGISTRY}/${IMAGE_NAME}:${CACHE_TAG}
      .

    # Run e2e tests
    - cd tests/e2e && ./run.sh

    # Push image if tests were completed
    - docker push ${REGISTRY}/${IMAGE_NAME}:${TAG}
  rules:
    - changes:
        - "**/*"
      when: on_success
    - changes:
        - "compose.yml"
        - "README.md"
      when: never
