stages:
  - codegen
  - test-lint
  - build
  - e2e
  - push

codegen:
  stage: codegen
  image: golang:1.25.4
  variables:
    TASK_VERSION: "3.45.5"
  before_script:
    - curl -sL https://github.com/go-task/task/releases/download/v${TASK_VERSION}/task_linux_amd64.tar.gz | tar xz
    - mv task /usr/local/bin/
  script:
    - task format
    - task mockery:gen
    - task swag
  rules:
    - changes:
        - "**/*"
      when: on_success
    - changes:
        - "compose.yml"
        - "README.md"
      when: never

test-lint:
  dependencies:
    - codegen
  stage: test-lint
  image: golang:1.25.4
  variables:
    TASK_VERSION: "3.45.5"
  before_script:
    - curl -sL https://github.com/go-task/task/releases/download/v${TASK_VERSION}/task_linux_amd64.tar.gz | tar xz
    - mv task /usr/local/bin/
  script:
    - task format
    - task lint
    - task test
  rules:
    - changes:
        - "**/*"
      when: on_success
    - changes:
        - "compose.yml"
        - "README.md"
      when: never

build:
  dependencies:
    - test-lint
  stage: build
  image: docker:27
  services:
    - docker:27-dind
  variables:
    DOCKER_TLS_CERTDIR: "/certs"
    DOCKER_HOST: "tcp://docker:2376"
    DOCKER_CERT_PATH: "/certs/client"
    DOCKER_TLS_VERIFY: "1"
    REGISTRY: $CI_REGISTRY
    IMAGE_NAME: "$CI_PROJECT_PATH"
    TAG: $CI_COMMIT_REF_NAME
  before_script:
    - until docker info; do sleep 1; done
    - echo "$CI_REGISTRY_PASSWORD" | docker login $CI_REGISTRY -u $CI_REGISTRY_USER --password-stdin
  script:
    - docker build -t ${REGISTRY}/${IMAGE_NAME}:${TAG} .
  artifacts:
    paths:
      - .docker_image_built
    expire_in: 1 hour
  rules:
    - changes:
        - "**/*"
      when: on_success
    - changes:
        - "compose.yml"
        - "README.md"
      when: never

e2e:
  dependencies:
    - build
  stage: e2e
  image: docker:27
  services:
    - docker:27-dind
  variables:
    DOCKER_TLS_CERTDIR: "/certs"
    DOCKER_HOST: "tcp://docker:2376"
    DOCKER_CERT_PATH: "/certs/client"
    DOCKER_TLS_VERIFY: "1"
    REGISTRY: $CI_REGISTRY
    IMAGE_NAME: "$CI_PROJECT_PATH"
    TAG: $CI_COMMIT_REF_NAME
  before_script:
    - until docker info; do sleep 1; done
    - echo "$CI_REGISTRY_PASSWORD" | docker login $CI_REGISTRY -u $CI_REGISTRY_USER --password-stdin
    - docker pull ${REGISTRY}/${IMAGE_NAME}:${TAG}
    - docker tag ${REGISTRY}/${IMAGE_NAME}:${TAG} ${CI_PROJECT_NAME}:latest
  script:
    - cd tests/e2e
    - ./run.sh
  rules:
    - changes:
        - "**/*"
      when: on_success
    - changes:
        - "compose.yml"
        - "README.md"
      when: never

push:
  dependencies:
    - e2e
  image: docker:27
  stage: push
  services:
    - docker:27-dind
  variables:
    DOCKER_TLS_CERTDIR: "/certs"
    DOCKER_HOST: "tcp://docker:2376"
    DOCKER_CERT_PATH: "/certs/client"
    DOCKER_TLS_VERIFY: "1"
    REGISTRY: $CI_REGISTRY
    IMAGE_NAME: "$CI_PROJECT_PATH"
    TAG: $CI_COMMIT_REF_NAME
  before_script:
    - until docker info; do sleep 1; done
    - echo "$CI_REGISTRY_PASSWORD" | docker login $CI_REGISTRY -u $CI_REGISTRY_USER --password-stdin
  script:
    - docker push ${REGISTRY}/${IMAGE_NAME}:${TAG}
  rules:
    - changes:
        - "**/*"
      when: on_success
    - changes:
        - "compose.yml"
        - "README.md"
      when: never